# Python
*.pyc

# Caffe model
*.caffemodel
*.solverstate

# Mac issuse
*.DS_Store
._*

# Features
*/features*/*

# IPython notebook
.ipynb_checkpoints

# ZIP
*.zip

# Log
*.log

# prototxt
*.prototxt

# ipynb
*.ipynb
